@font-face {
  font-family: Druckschrift;
  src: url(assets/Druckschrift_BY_WOK.ttf);
}

body {
  font-family: Druckschrift;
  margin: 1rem;
}

form {
  display: inline-block;
  margin-right: 1rem;
}

.bingo {
  margin-top: 2rem;
  display: grid;
}

.bingo > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px #333 solid;
  text-align: center;
  position: relative;
}

.bingo.cut {
  font-size: 24pt;
  width: 26.6cm;
}
.bingo.cut > div {
  height: 2.7cm;
}

.bingo.board {
  font-size: 20pt;
  width: 22.5cm;
  page-break-before: always;
}
.bingo.board > div {
  height: 2cm;
}

.delete {
  position: absolute;
  display: flex;
  top: .5rem;
  right: .5rem;
  font-size: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  justify-content: center;
  align-items: center;
  border: 1px #333 solid;
  cursor: pointer;
}

@media print {
  .head, .delete {
    display: none;
  }
}
